body {
    margin: 0;
}
.search-form {
    padding: 10px;
    background-color: rgb(71, 71, 226);
}
.onform {
    display: flex;
    justify-content: center;
}
.searchQuery {
    width: 250px;
}
button {
    padding: 3px 5px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-card {
    border: 1px solid rgb(209, 208, 208);
}
.loadmore {
    visibility: hidden;
    display: flex;
    margin: 20px auto;
}