body {
    margin: 0;
}
.search-form {
    padding: 10px;
    background-color: rgb(71, 71, 226);
}
.onform {
    display: flex;
    justify-content: center;
}
.searchQuery {
    width: 250px;
}
button {
    padding: 3px 5px;
}